<div class="row" style="margin-top: 50px;">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Setup Commission
                          
                        </h1>
    </div>
    <!--   By Bill -->
    <div ng-show="calculateType=='ByBill'">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-calculator"></i> Calculate Commission</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <div class="collapse navbar-collapse navbar-ex1-collapse" style="margin-bottom: 13px;margin-left: -15px;" id="pro">
                            <div class="panel panel-default">
                                <div class="panel-heading borderCl" style="height: 60px;">
                                    <div class="collapse navbar-collapse navbar-ex1-collapse" id="pro" style="margin-top: -5px;">
                                        <ul class="nav navbar-nav">
                                            <li><a style="cursor:pointer" ng-click="TableType('Food')">Food</a>
                                            </li>
                                            <li><a style="cursor:pointer" ng-click="TableType('Drink')">Drink</a>
                                            </li>
                                            <li><a style="cursor:pointer" ng-click="TableType('Fast')">Fast Food</a>
                                            </li>
                                            <li><a style="cursor:pointer" ng-click="TableType('Dessert')">Dessert</a>
                                            </li>
                                            <li><a style="cursor:pointer" ng-click="TableType('Combo')">Combo Set</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            
                        
                        <table class="table table-bordered table-hover " ng-show="TproductType=='Food'">
                            <thead>
                                <tr>
                                    <th class="calcomColHeader text-center ">Description Food(THB)</th>
                                    <th class="calcomColHeader text-center ">Minimum</th>
                                    <th class="calcomColHeader text-right ">Maximum</th>
                                    <th class="calcomColHeader text-right ">Commission(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in calculates1">
                                    <td class="calcomRow ">
                                        <input type="text" ng-model="item.calDesc" style="border-style: none; text-align: left;">
                                    </td>
                                    <td class="calcomRow ">
                                        <input type="number" ng-model="item.calMin" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calMax" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calComm" style="border-style: none; text-align: right;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-click="addRowTable1()" ng-show="TproductType=='Food'" class="panel-title" style="float: left; margin-top: 15px;"><i class="fa fa-plus-circle" style="color:#088A08;"></i> Add Commission</span>
                        <!-- Drink -->
                        <table class="table table-bordered table-hover " ng-show="TproductType=='Drink'">
                            <thead>
                                <tr>
                                    <th class="calcomColHeader text-center breadcrumb">Description Drink(THB)</th>
                                    <th class="calcomColHeader text-center breadcrumb">Minimum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Maximum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Commission(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in calculates2">
                                    <td class="calcomRow ">
                                        <input type="text" ng-model="item.calDesc2" style="border-style: none; text-align: left;">
                                    </td>
                                    <td class="calcomRow ">
                                        <input type="number" ng-model="item.calMin2" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calMax2" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calComm2" style="border-style: none; text-align: right;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-click="addRowTable2()" ng-show="TproductType=='Drink'" class="panel-title" style="float: left; margin-top: 15px;"><i class="fa fa-plus-circle" style="color:#088A08;"></i> Add Commission</span>
                        <!-- Fast Food -->
                        <table class="table table-bordered table-hover " ng-show="TproductType=='Fast'">
                            <thead>
                                <tr>
                                    <th class="calcomColHeader text-center breadcrumb">Description Fast Food (THB)</th>
                                    <th class="calcomColHeader text-center breadcrumb">Minimum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Maximum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Commission(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in calculates3">
                                    <td class="calcomRow ">
                                        <input type="text" ng-model="item.calDesc3" style="border-style: none; text-align: left;">
                                    </td>
                                    <td class="calcomRow ">
                                        <input type="number" ng-model="item.calMin3" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calMax3" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calComm3" style="border-style: none; text-align: right;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-click="addRowTable3()" ng-show="TproductType=='Fast'" class="panel-title" style="float: left; margin-top: 15px;"><i class="fa fa-plus-circle" style="color:#088A08;"></i> Add Commission</span>
                        <!-- Dessert-->
                        <table class="table table-bordered table-hover " ng-show="TproductType=='Dessert'">
                            <thead>
                                <tr>
                                    <th class="calcomColHeader text-center breadcrumb">Description Dessert(THB)</th>
                                    <th class="calcomColHeader text-center breadcrumb">Minimum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Maximum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Commission(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in calculates4">
                                    <td class="calcomRow ">
                                        <input type="text" ng-model="item.calDesc4" style="border-style: none; text-align: left;">
                                    </td>
                                    <td class="calcomRow ">
                                        <input type="number" ng-model="item.calMin4" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calMax4" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calComm4" style="border-style: none; text-align: right;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-click="addRowTable4()" ng-show="TproductType=='Dessert'" class="panel-title" style="float: left; margin-top: 15px;"><i class="fa fa-plus-circle" style="color:#088A08;"></i> Add Commission</span>
                        <!-- Combo Set-->
                        <table class="table table-bordered table-hover " ng-show="TproductType=='Combo'">
                            <thead>
                                <tr>
                                    <th class="calcomColHeader text-center breadcrumb">Description Combo Set(THB)</th>
                                    <th class="calcomColHeader text-center breadcrumb">Minimum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Maximum</th>
                                    <th class="calcomColHeader text-right breadcrumb">Commission(%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in calculates5">
                                    <td class="calcomRow ">
                                        <input type="text" ng-model="item.calDesc5" style="border-style: none; text-align: left;">
                                    </td>
                                    <td class="calcomRow ">
                                        <input type="number" ng-model="item.calMin5" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calMax5" style="border-style: none; text-align: right;">
                                    </td>
                                    <td class="calcomColRate">
                                        <input type="number" ng-model="item.calComm5" style="border-style: none; text-align: right;">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span ng-click="addRowTable5()" ng-show="TproductType=='Combo'" class="panel-title" style="float: left; margin-top: 15px;"><i class="fa fa-plus-circle" style="color:#088A08;"></i> Add Commission</span>
                    </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
