<div class="row" style="margin-top: 50px;">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Daily Summary Sales Report By Amount
                           
                        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-fw fa-file-text"></i> Criteria Report
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->
<div class="panel panel-default" style="margin-top: -20px;">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6 ">
                <label>Date  </label>
                <input type="date" class="form-control" >
            </div>
            <div class="col-md-6">
                <label>To  </label>
                <input type="date" class="form-control">
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6">
                <label> Flight No. </label>
                <select ng-model="report" style="width: 100%">
                    <option value="">All Flight</option>
                </select>
            </div>
            <div class="col-md-6">
                <label> Category </label>
                <select ng-model="report" style="width: 100%">
                    <option value="">All Category</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top:20px;">
            <div class="col-md-6">
                <label> Product </label>
                <select ng-model="report" style="width: 100%">
                    <option value="">All Product</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" align="right">
                <button>Generate Report</button>
                <button>Cancel Report</button>
            </div>
        </div>
    
</div>
</div>

<div class="row">
    <div class="col-md-12" align="center">
        <iframe src="pdf/Report By Amount.pdf" width="1168px" height="800px" />
    </div>
</div>
