<div class="row" style="margin-top: 50px;">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Exchange Money
                            
                        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-exchange"></i>
                <label> Exchange Money</label>
            </li>
        </ol>
        <div class="form-group input-group" style="margin-top:-20px; margin-bottom: -1px;">
            <input type="text" class="form-control" ng-model="searchText">
            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
        </div>
    </div>
</div>
<div class="panel panel-default">
  
   <div class="panel-body">
             
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-exchange"></i> Exchange Rates</h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover ">
                                <thead>
                                    <tr>
                                        <th class="exchangeColHeader text-center breadcrumb">Foreign Currencies</th>
                                        <th class="exchangeColHeader text-center breadcrumb">Description</th>
                                        <th class="exchangeColHeader text-right breadcrumb">AirAsia Rates</th>
                                        <th class="exchangeColHeader text-right breadcrumb">Current Rates</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in exchanges">
                                        <td class="exchangeRow "><img src="{{item.img}}" class="setFlag">&nbsp; &nbsp; {{item.exchangeName}}</td>
                                        <td class="text-center">{{item.exchangeDesc}}</td>
                                        <td class="exchangeColRate"><input type="number" ng-model="item.thaiRate" style="border-style: none; text-align: right;"></td>
                                        <td class="exchangeColRate">{{item.sellingRate}}</td>
                                    </tr>                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
      </div>
</div>
  
