<div class="row" style="margin-top: 50px;">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Upload Cart New
                          
                        </h1>
        <ol class="breadcrumb">
            <li>
                <i class="fa fa-cutlery"></i> <a href="index.html"> Upload Cart New</a>
            </li>
        </ol>
    </div>
</div>
<!-- ///////////////////////////////////////// -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pro">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="pro">
            <ul class="nav navbar-nav">
                <li><a style="cursor:pointer" ng-click="changeType('Cart')">Cart</a>
                </li>
                <li><a style="cursor:pointer" ng-click="changeType('Crew')">Crew</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <!-- cart -->
        <div class="row" align="center" ng-show="productType=='Cart'">
            <div class="col-md-1">
                <input type="hidden" ng-model="item.limitNumberCart" ng-init="item.limitNumberCart=3">
                <input type="hidden" ng-model="item.runNumberCart" ng-init="item.runNumberCart=0">
                <i class="fa fa-angle-left fa-2x" aria-hidden="true" ng-click="item.runNumberCart>0?(item.runNumberCart=item.runNumberCart-1):item.runNumberCart=item.runNumberCart" style="padding-top:40px;"></i>
            </div>
            <div class="col-md-2" ng-repeat="obj in cart | filter:searchText | limitTo:item.limitNumberCart:item.runNumberCart">
                <label style="height:34px;">{{obj.name}}</label>
                <br>
                <img class="imgsetPro" src="{{obj.img}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
            </div>
            <div class="col-md-1">
                <i class="fa fa-angle-right fa-2x" aria-hidden="true" ng-click="item.runNumberCart!=(floor.cartProd.length-item.limitNumberCart)?(item.runNumberCart=item.runNumberCart+1):item.runNumberCart=item.runNumberCart" style="padding-top:40px;"></i>
            </div>
        </div>
        <!-- crew -->
        <div class="row" align="center" ng-show="productType=='Crew'">
            <div class="col-md-1">
                <input type="hidden" ng-model="item.limitNumberCrew" ng-init="item.limitNumberCrew=5">
                <input type="hidden" ng-model="item.runNumberCrew" ng-init="item.runNumberCrew=0">
                <i class="fa fa-angle-left fa-2x" aria-hidden="true" ng-click="item.runNumberCrew>0?(item.runNumberCrew=item.runNumberCrew-1):item.runNumberCrew=item.runNumberCrew" style="padding-top:40px;"></i>
            </div>
            <div class="col-md-2" ng-repeat="obj in crew | filter:searchText | limitTo:item.limitNumberCrew:item.runNumberCrew">
                <label>{{obj.name}}</label>
                <br>
                <img class="imgsetPro" src="{{obj.img}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
            </div>
            <div class="col-md-1">
                <i class="fa fa-angle-right fa-2x" aria-hidden="true" ng-click="item.runNumberCrew!=(floor.cartProd.length-item.limitNumberCrew)?(item.runNumberCrew=item.runNumberCrew+1):item.runNumberCrew=item.runNumberCrew" style="padding-top:40px;"></i>
            </div>
        </div>
        <div class="text-right">
        </div>
    </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- ///////////////////////////////////////////////////// -->
<!-- ////////////////////////////////////// -->
<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteA1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsA1| limitTo:item.limitNumberA1:item.runNumberA1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessA1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteB1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsB1| limitTo:item.limitNumberB1:item.runNumberB1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessB1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2" style="border-style: solid;border-width: 0.5px;height: 100px;">
                Head
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2" style="border-style: solid; height: 100px;border-width: 0.5px;">
                Head
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                Tail
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                Tail
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteA2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsA2| limitTo:item.limitNumberA2:item.runNumberA2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessA2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteB2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsB2| limitTo:item.limitNumberB2:item.runNumberB2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessB2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
