
<div class="row" style="margin-top: 50px;">
    <div class="col-lg-12">
        <h1 class="page-header">
                            Upload Cart
                          
                        </h1>
        <div class="breadcrumb">
            <a ng-href="#/uploadCart" ng-click="clearData()">Cancel</a>
            <a ng-href="#/uploadCart">
                <span style="float: right;" ng-show="isEdit==false" ng-click="addUpload()">Done </span>
                <span style="float: right;" ng-show="isEdit==true" ng-click="editFn()">Edit </span>
            </a>
        </div>
    </div>
</div>
<!-- ///////////////////////////////////////// -->
<div class="form-group">
    <label style="margin-left: 15px;">Flight Name</label>
    <input class="form-control" placeholder="AK25" ng-model="newUpload.flightName">
</div>
<!-- ////////////////////////////////// -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#pro">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="pro">
            <ul class="nav navbar-nav">
                <li><a style="cursor:pointer" ng-click="changeType('Cart')">Cart</a>
                </li>
                <li><a style="cursor:pointer" ng-click="changeType('Crew')">Crew</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <!-- cart -->
        <div class="row" align="center" ng-show="productType=='Cart'">
            <div class="col-md-1">
                <input type="hidden" ng-model="item.limitNumberCart" ng-init="item.limitNumberCart=3">
                <input type="hidden" ng-model="item.runNumberCart" ng-init="item.runNumberCart=0">
                <i class="fa fa-angle-left fa-2x" aria-hidden="true" ng-click="item.runNumberCart>0?(item.runNumberCart=item.runNumberCart-1):item.runNumberCart=item.runNumberCart" style="padding-top:40px;"></i>
            </div>
            <div class="col-md-2" ng-repeat="obj in cart | filter:searchText | limitTo:item.limitNumberCart:item.runNumberCart">
                <label style="height:34px;">{{obj.name}}</label>
                <br>
                <img class="imgsetPro" src="{{obj.img}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
            </div>
            <div class="col-md-1">
                <i class="fa fa-angle-right fa-2x" aria-hidden="true" ng-click="item.runNumberCart!=(floor.cartProd.length-item.limitNumberCart)?(item.runNumberCart=item.runNumberCart+1):item.runNumberCart=item.runNumberCart" style="padding-top:40px;"></i>
            </div>
        </div>
        <!-- crew -->
        <div class="row" align="center" ng-show="productType=='Crew'">
            <div class="col-md-1">
                <input type="hidden" ng-model="item.limitNumberCrew" ng-init="item.limitNumberCrew=5">
                <input type="hidden" ng-model="item.runNumberCrew" ng-init="item.runNumberCrew=0">
                <i class="fa fa-angle-left fa-2x" aria-hidden="true" ng-click="item.runNumberCrew>0?(item.runNumberCrew=item.runNumberCrew-1):item.runNumberCrew=item.runNumberCrew" style="padding-top:40px;"></i>
            </div>
            <div class="col-md-2" ng-repeat="obj in crew | filter:searchText | limitTo:item.limitNumberCrew:item.runNumberCrew">
                <label style="height:34px;">{{obj.name}}</label>
                <br>
                <img class="imgsetPro" src="{{obj.img}}" ng-drag="true" ng-drag-data="obj" data-allow-transform="true">
            </div>
            <div class="col-md-1">
                <i class="fa fa-angle-right fa-2x" aria-hidden="true" ng-click="item.runNumberCrew!=(floor.cartProd.length-item.limitNumberCrew)?(item.runNumberCrew=item.runNumberCrew+1):item.runNumberCrew=item.runNumberCrew" style="padding-top:40px;"></i>
            </div>
        </div>
        <div class="text-right">
        </div>
    </div>
</div>
<!-- ///////////////////////////////////////////////////// -->
<!-- //////////////      Radio     ////////////////////////////// -->
<div class="row" align="center">
    <div class="col-md-3"></div>
    <div class="col-md-2">
        <input id="uploadCartInbound" type="radio" name="uploadContent" ng-model="uploadContent" value="uploadCartInbound" ng-click="uploadChangecontentCart('uploadCartInbound')">
        <label for="uploadCartInbound"> Inbound </label>
    </div>
    <div class="col-md-2">
        <input id="uploadCartOutbound" type="radio" name="uploadContent" ng-model="uploadContent" value="uploadCartOutbound" ng-click="uploadChangecontentCart('uploadCartOutbound')">
        <label for="uploadCartOutbound"> Outbound </label>
    </div>
    <div class="col-md-2">
        <input id="uploadCartQuickTurn" type="radio" name="uploadContent" ng-model="uploadContent" value="uploadCartQuickTurn" ng-click="uploadChangecontentCart('uploadCartQuickTurn')">
        <label for="uploadCartQuickTurn"> QuickTurn </label>
    </div>
    <div class="col-md-3"></div>
</div>
<!-- //////////////////  Inbound  //////////////////// -->
<!-- <div ng-show="uploadCartcontentType=='uploadCartInbound'">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteInboundSec1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec1| limitTo:item.limitNumberInboundSec1:item.runNumberInboundSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteInboundSec2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec2| limitTo:item.limitNumberInboundSec2:item.runNumberInboundSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2" style="border-style: solid;border-width: 0.5px;height: 100px;">
                Head
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2" style="border-style: solid; height: 100px;border-width: 0.5px;">
                Head
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                Tail
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                Tail
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteInboundSec3($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec3| limitTo:item.limitNumberInboundSec3:item.runNumberInboundSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteInboundSec4($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec4| limitTo:item.limitNumberInboundSec4:item.runNumberInboundSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- /////////////////////////////////////////// -->
<!-- ///////////////////    Outbound    /////////////////// -->
<!-- <div ng-show="uploadCartcontentType=='uploadCartOutbound'">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteOutboundSec1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec1| limitTo:item.limitNumberOutboundSec1:item.runNumberOutboundSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteOutboundSec2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec2| limitTo:item.limitNumberOutboundSec2:item.runNumberOutboundSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2" style="border-style: solid;border-width: 0.5px;height: 100px;">
                Head
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2" style="border-style: solid; height: 100px;border-width: 0.5px;">
                Head
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                Tail
            </div>
            <div class="col-md-8">
            </div>
            <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                Tail
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteOutboundSec3($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec3| limitTo:item.limitNumberOutboundSec3:item.runNumberOutboundSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                <div ng-drop="true" ng-drop-success="onDropCompleteOutboundSec4($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec4| limitTo:item.limitNumberOutboundSec4:item.runNumberOutboundSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetCart">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- ////////////////////   QuickTurnLeft   //////////////////// -->
<!-- <div ng-show="uploadCartcontentType=='uploadCartQuickTurn'">
    <div class="row">
        <div class="col-md-6">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec1($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec1| limitTo:item.limitNumberQuickTurnLeftSec1:item.runNumberQuickTurnLeftSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec2($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec2| limitTo:item.limitNumberQuickTurnLeftSec2:item.runNumberQuickTurnLeftSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-2" style="border-style: solid;border-width: 0.5px;height: 100px;">
                        Head
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2" style="border-style: solid; height: 100px;border-width: 0.5px;">
                        Head
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                        Tail
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                        Tail
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec3($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec3| limitTo:item.limitNumberQuickTurnLeftSec3:item.runNumberQuickTurnLeftSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec4($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec4| limitTo:item.limitNumberQuickTurnLeftSec4:item.runNumberQuickTurnLeftSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        //////////////    QuickTurnRight   //////////////////////////////////
        <div class="col-md-6">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec1($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec1| limitTo:item.limitNumberQuickTurnRightSec1:item.runNumberQuickTurnRightSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec2($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec2| limitTo:item.limitNumberQuickTurnRightSec2:item.runNumberQuickTurnRightSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-2" style="border-style: solid;border-width: 0.5px;height: 100px;">
                        Head
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2" style="border-style: solid; height: 100px;border-width: 0.5px;">
                        Head
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                        Tail
                    </div>
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2" style="border-style: solid;height: 100px;border-width: 0.5px;">
                        Tail
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec3($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec3| limitTo:item.limitNumberQuickTurnRightSec3:item.runNumberQuickTurnRightSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="border-style: solid;border-width: 0.5px;">
                        <div ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec4($data,$event)">
                            <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec4| limitTo:item.limitNumberQuickTurnRightSec4:item.runNumberQuickTurnRightSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                                <img src="{{obj.img}}" class="imgsetCart">
                                <span class="badge red_badge">{{obj.qty}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- /////////////////  Inbound  //////////////////// -->
<div style="margin-left: -30px;" ng-show="uploadCartcontentType=='uploadCartInbound'">
    <div class="panel-body">
        <div>
            <img src="images/Untitled-2.png" style="position: relative;">
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 200px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteInboundSec1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec1| limitTo:item.limitNumberInboundSec1:item.runNumberInboundSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 240px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteInboundSec2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec2| limitTo:item.limitNumberInboundSec2:item.runNumberInboundSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 755px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteInboundSec3($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec3| limitTo:item.limitNumberInboundSec3:item.runNumberInboundSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 795px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteInboundSec4($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsInboundSec4| limitTo:item.limitNumberInboundSec4:item.runNumberInboundSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessInboundSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ///////////////////    Outbound    /////////////////// -->
<div style="margin-left: -30px;" ng-show="uploadCartcontentType=='uploadCartOutbound'">
    <div class="panel-body">
        <div>
            <img src="images/Untitled-2.png" style="position: relative;">
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 200px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteOutboundSec1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec1| limitTo:item.limitNumberOutboundSec1:item.runNumberOutboundSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 240px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteOutboundSec2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec2| limitTo:item.limitNumberOutboundSec2:item.runNumberOutboundSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 755px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteOutboundSec3($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec3| limitTo:item.limitNumberOutboundSec3:item.runNumberOutboundSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 795px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteOutboundSec4($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsOutboundSec4| limitTo:item.limitNumberOutboundSec4:item.runNumberOutboundSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessOutboundSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ////////////////////   QuickTurnLeft   //////////////////// -->
<div style="margin-left: -30px;" ng-show="uploadCartcontentType=='uploadCartQuickTurn'">
    <div class="panel-body">
        <div>
            <img src="images/Untitled-2.png" style="position: relative;">
        </div>
        <div>
            <img src="images/Untitled-Q.png" style="position: relative;">
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-340px;width: 35px;height: 150px; margin-left: 200px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec1| limitTo:item.limitNumberQuickTurnLeftSec1:item.runNumberQuickTurnLeftSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-340px;width: 35px;height: 150px; margin-left: 245px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec2| limitTo:item.limitNumberQuickTurnLeftSec2:item.runNumberQuickTurnLeftSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <!-- <span class="badge red_badge">{{obj.qty}}</span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-340px;width: 35px;height: 150px; margin-left: 755px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec3($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec3| limitTo:item.limitNumberQuickTurnLeftSec3:item.runNumberQuickTurnLeftSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <!-- <span class="badge red_badge">{{obj.qty}}</span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-340px;width: 35px;height: 150px; margin-left: 795px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnLeftSec4($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnLeftSec4| limitTo:item.limitNumberQuickTurnLeftSec4:item.runNumberQuickTurnLeftSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnLeftSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- ////////////////////////////////////////// -->
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 225px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec1($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec1| limitTo:item.limitNumberQuickTurnRightSec1:item.runNumberQuickTurnRightSec1" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec1($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 265px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec2($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec2| limitTo:item.limitNumberQuickTurnRightSec2:item.runNumberQuickTurnRightSec2" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec2($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <!-- <span class="badge red_badge">{{obj.qty}}</span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 780px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec3($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec3| limitTo:item.limitNumberQuickTurnRightSec3:item.runNumberQuickTurnRightSec3" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec3($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <!-- <span class="badge red_badge">{{obj.qty}}</span> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="border-style: none;border-width: 0.5px;position:absolute;margin-top:-160px;width: 35px;height: 150px; margin-left: 820px;">
                <div style="height: 150px;width: 30px;margin-left: -13px;" ng-drop="true" ng-drop-success="onDropCompleteQuickTurnRightSec4($data,$event)">
                    <div style="height:50px;width:50px;margin-left:-10px" ng-repeat="obj in droppedObjectsQuickTurnRightSec4| limitTo:item.limitNumberQuickTurnRightSec4:item.runNumberQuickTurnRightSec4" ng-drag="true" ng-drag-data="obj" ng-drag-success="onDragSuccessQuickTurnRightSec4($data,$event)" ng-center-anchor="{{centerAnchor}}">
                        <img src="{{obj.img}}" class="imgsetUp">
                        <span class="badge red_badge">{{obj.qty}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
